@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase
<TelerikRootComponent>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <div style="padding-top: 1.2em;">
                    <div class="float-start">
                        <span class="sitetitle"><SectionOutlet SectionName="SubTitle"></SectionOutlet></span>
                    </div>
                </div>
             
            </div>

            <div  class="bodypadding">
                @Body
            </div>

           
        </main>
    </div>

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</TelerikRootComponent>